<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.appinterface.mapper.UserInfoMapper">
    
    <resultMap type="UserInfo" id="UserInfoResult">
        <result property="id"    column="id"    />
        <result property="phone"    column="phone"    />
        <result property="password"    column="password"    />
        <result property="sex"    column="sex"    />
        <result property="nickname"    column="nickname"    />
        <result property="birthDay"    column="birth_day"    />
        <result property="invitationCode"    column="invitation_code"    />
        <result property="headPortrait"    column="head_portrait"    />
        <result property="openid"    column="openid"    />
        <result property="State"    column="login_state"    />
        <result property="state"    column="state"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
        <result property="inviterCode"    column="inviter_code"    />
    </resultMap>
	
	<sql id="selectUserInfoVo">
        select id, phone, password, sex, nickname, birth_day, invitation_code, head_portrait, openid, login_state, state, create_date, update_date from t_user_info
    </sql>



    <select id="selectUserInfoById" parameterType="UserInfo" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>

        <where>
            <if test="id != null  and id != ''  ">id = #{id}</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone}</if>
            <if test="invitationCode != null  and invitationCode != ''  ">invitation_code = #{invitationCode}</if>

        </where>
    </select>

	<select id="selectUserInfoByUserId" parameterType="java.lang.String" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
		where id = #{id}
    </select>
    
    <insert id="insertUserInfo" parameterType="UserInfo">
        insert into t_user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="phone != null  and phone != ''  ">phone,</if>
			<if test="password != null  and password != ''  ">password,</if>
			<if test="sex != null  and sex != ''  ">sex,</if>
			<if test="nickname != null  and nickname != ''  ">nickname,</if>
			<if test="birthDay != null  ">birth_day,</if>
			<if test="invitationCode != null  and invitationCode != ''  ">invitation_code,</if>
			<if test="headPortrait != null  and headPortrait != ''  ">head_portrait,</if>
			<if test="openid != null  and openid != ''  ">openid,</if>
			<if test="loginState != null  and loginState != ''  ">login_state,</if>
			<if test="state != null  and state != ''  ">state,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="updateDate != null  ">update_date,</if>
            <if test="inviterCode != null  and inviterCode != '' ">inviter_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="phone != null  and phone != ''  ">#{phone},</if>
			<if test="password != null  and password != ''  ">#{password},</if>
			<if test="sex != null  and sex != ''  ">#{sex},</if>
			<if test="nickname != null  and nickname != ''  ">#{nickname},</if>
			<if test="birthDay != null  ">#{birthDay},</if>
			<if test="invitationCode != null  and invitationCode != ''  ">#{invitationCode},</if>
			<if test="headPortrait != null  and headPortrait != ''  ">#{headPortrait},</if>
			<if test="openid != null  and openid != ''  ">#{openid},</if>
			<if test="loginState != null  and loginState != ''  ">#{loginState},</if>
			<if test="state != null  and state != ''  ">#{state},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="updateDate != null  ">#{updateDate},</if>
            <if test="inviterCode != null  and inviterCode != ''">#{inviterCode},</if>
         </trim>
    </insert>
	 
    <update id="updateUserInfo" parameterType="UserInfo">
        update t_user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="password != null  and password != ''  ">password = #{password},</if>
            <if test="sex != null  and sex != ''  ">sex = #{sex},</if>
            <if test="nickname != null  and nickname != ''  ">nickname = #{nickname},</if>
            <if test="birthDay != null  ">birth_day = #{birthDay},</if>
            <if test="invitationCode != null  and invitationCode != ''  ">invitation_code = #{invitationCode},</if>
            <if test="headPortrait != null  and headPortrait != ''  ">head_portrait = #{headPortrait},</if>
            <if test="openid != null  and openid != ''  ">openid = #{openid},</if>
            <if test="loginState != null  and loginState != ''  ">login_state = #{loginState},</if>
            <if test="state != null  and state != ''  ">state = #{state},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>


    
</mapper>